*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 1em;
  background-color: #e6e6e6;
}

h1 {
  text-align:left;
  margin: 1em 0;
  color: #29353c;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 1em;
  border-radius: 1em;
  margin: 0 auto;
  max-width: 1440px;
}

.produc-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em;
  border-radius: 2em;
  background-color: #aac7d8;
}

.produc-img {
  width: 100%;
  max-width: 800px;
  border-radius: 5%;
  overflow: hidden;
  background-color: #44576d;
}

.produc-title {
  text-align: left;
  font-size: 2em;
  color:  #29353c;
}

.produc-description {
  line-height: 1.5em;
  text-align: left;
}

.buy-buttom {
  display: flex;
  padding: 0.5em .75em;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  background-color: #768a96;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5em;
  }
}
